<!-- Flex container -->
<div class="flex items-center justify-between">
	<!-- Logo -->
	<div>
		<a href="/" class="pt-2 flex space-x-2">
			<img
				src="img/sambal-removedbg.png"
				alt=""
				class="w-14 h-14 rounded-lg"
			/>
			<h2 class="text-xl self-center font-bold text-gray-800">
				Sambal Bee's
			</h2>
		</a>
	</div>
	<!-- Menu Items -->
	<div class="hidden md:flex space-x-6">
		<a href="/product.html" class="hover:text-red-400">Produk</a>
		<a href="/about.html" class="hover:text-red-400">Tentang Kami</a>
		<a href="https://wa.link/vie4lp" class="hover:text-red-400">Hubungi Kami</a>
		<a href="/objective.html" class="hover:text-red-400">Objektif Kami</a>
	</div>
	<!-- Button -->
	<a
		href="/product.html"
		class="hidden md:block p-3 px-6 pt-2 text-white bg-red-400 rounded-full baseline bg-red-500"
		>Lihat Produk</a
	>
	<!-- Hamburger Icon -->
	<button id="menu-btn" class="block hamburger md:hidden focus:outline-none">
		<span class="hamburger-top"></span>
		<span class="hamburger-middle"></span>
		<span class="hamburger-bottom"></span>
	</button>
</div>

<!-- Mobile Menu -->
<div class="md:hidden">
	<div
		id="menu"
		class="absolute flex-col items-center hidden self-end py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md"
	>
		<a href="/product.html" class="hover:text-red-400">Produk</a>
		<a href="/about.html" class="hover:text-red-400">Tentang Kami</a>
		<a href="/https://wa.link/vie4lp" class="hover:text-red-400">Hubungi Kami</a>
		<a href="/objective.html" class="hover:text-red-400">Objektif Kami</a>
	</div>
</div>
